In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://github.com/prasertcbs/ds_class_2021/raw/week4/2602454S20202.txt', 
               names=['id', 'name_th', 'name_en', 'gender'], 
               usecols=[0, 1, 2, 3])
df

,id,name_th,name_en,gender
0,5942910226,น.ส.วิชุฎา คำวิชิต ...,Miss Wichuda Khamwichit ...,ญ
1,6042739826,นายชัชฤทธิ์ พลหลา ...,Mr. Chatcharit Pholla ...,ช
2,6042841026,น.ส.พริมา มุณีกุล ...,Miss Parima Muneekul ...,ญ
3,6142719326,น.ส.กันต์กนิษฐ์ ทองมโนกูร ...,Miss Kankanit Thongmanogoon ...,ญ
4,6142746226,นายชยุต ตันติวุฒิปกรณ์ ...,Mr. Chayut Tantivuthipakon ...,ช
5,6142752026,น.ส.ชิตวรี หอมผล ...,Miss Chitwaree Hompol ...,ญ
6,6142780526,นายดิษย์ พิสิษฐไกรยกร ...,Mr. Dis Phisitkraiyakorn ...,ช
7,6142823926,น.ส.ปราณศิริ คำรอด ...,Miss Pransiri Kamrod ...,ญ
8,6142829726,น.ส.ปัทมา ตั้งพูนผลวิวัฒน์ ...,Miss Pattama Tangpoonponwiwat ...,ญ
9,6142830226,น.ส.ปาณิสรา จิรจิตการุณ ...,Miss Panissara Jirajitkarun ...,ญ
10,6142841126,น.ส.พรรวี เกียรติศรีชาติ ...,Miss Pornravee Kiatsrichart ...,ญ
11,6142846326,นายพัทธ์ สุทธิศรีปก ...,Mr. Pat Suthisripok ...,ช
12,6142868126,น.ส.ภาพิมล พิมพา ...,Miss Papimol Pimpa ...,ญ
13,6142896726,นายศุภกฤต ศุภภิญโญ ...,Mr. Suphakit Suphapinyo ...,ช
14,6142909226,น.ส.สราญลักษณ์ กนกไพบูลย์ ...,Miss Saranlak Knokpaibool ...,ญ
15,6142910826,น.ส.สริตา พรมพันธ์ใจ ...,Miss Sarita Prompuntjai ...,ญ
16,6142923026,น.ส.สุพิชชา สวัสดิ์อักษรชื่น ...,Miss Supitcha Sawataksornchuen ...,ญ
17,6142935526,นายอมรเทพ อยู่สบาย ...,Mr. Amornthep Yoosabai ...,ช

In [3]:
df.columns

Index(['id', 'name_th', 'name_en', 'gender'], dtype='object')

In [4]:
df['name_th'].str.strip().str.extract(r'(น\.ส\.|นาย)(\w+)\s+(\w+)')

      0       1    2
0   NaN     NaN  NaN
1   NaN     NaN  NaN
2   NaN     NaN  NaN
3   NaN     NaN  NaN
4   NaN     NaN  NaN
5   NaN     NaN  NaN
6   NaN     NaN  NaN
7   NaN     NaN  NaN
8   NaN     NaN  NaN
9   NaN     NaN  NaN
10  NaN     NaN  NaN
11  NaN     NaN  NaN
12  NaN     NaN  NaN
13  NaN     NaN  NaN
14  NaN     NaN  NaN
15  NaN     NaN  NaN
16  NaN     NaN  NaN
17  นาย  อมรเทพ   อย

In [5]:
dt=df['name_th'].str.strip().str.extract(r'(?P<title>น\.ส\.|นาย)(?P<fname>\S+)\s+(?P<lname>\S+)') # \S not \s , \D not \d
dt

   title        fname             lname
0   น.ส.       วิชุฎา           คำวิชิต
1    นาย     ชัชฤทธิ์             พลหลา
2   น.ส.        พริมา           มุณีกุล
3   น.ส.  กันต์กนิษฐ์         ทองมโนกูร
4    นาย         ชยุต    ตันติวุฒิปกรณ์
5   น.ส.       ชิตวรี             หอมผล
6    นาย        ดิษย์      พิสิษฐไกรยกร
7   น.ส.     ปราณศิริ             คำรอด
8   น.ส.        ปัทมา  ตั้งพูนผลวิวัฒน์
9   น.ส.      ปาณิสรา       จิรจิตการุณ
10  น.ส.        พรรวี    เกียรติศรีชาติ
11   นาย        พัทธ์        สุทธิศรีปก
12  น.ส.       ภาพิมล             พิมพา
13   นาย       ศุภกฤต          ศุภภิญโญ
14  น.ส.   สราญลักษณ์        กนกไพบูลย์
15  น.ส.        สริตา        พรมพันธ์ใจ
16  น.ส.      สุพิชชา  สวัสดิ์อักษรชื่น
17   นาย       อมรเทพ          อยู่สบาย

In [6]:
df['name_en'] # beware of trailing spaces

0     Miss Wichuda  Khamwichit                      ...
1     Mr. Chatcharit  Pholla                        ...
2     Miss Parima  Muneekul                         ...
3     Miss Kankanit  Thongmanogoon                  ...
4     Mr. Chayut  Tantivuthipakon                   ...
5     Miss Chitwaree  Hompol                        ...
6     Mr. Dis  Phisitkraiyakorn                     ...
7     Miss Pransiri  Kamrod                         ...
8     Miss Pattama  Tangpoonponwiwat                ...
9     Miss Panissara  Jirajitkarun                  ...
10    Miss Pornravee  Kiatsrichart                  ...
11    Mr. Pat  Suthisripok                          ...
12    Miss Papimol  Pimpa                           ...
13    Mr. Suphakit  Suphapinyo                      ...
14    Miss Saranlak  Knokpaibool                    ...
15    Miss Sarita  Prompuntjai                      ...
16    Miss Supitcha  Sawataksornchuen               ...
17    Mr. Amornthep  Yoosabai                       ...
Name: name_en, dtype: object

In [7]:
df['name_en'].str.extract(r'(.+)\s+(.+)\s+(.+)') # \w alphanumeric

                                                    0  1  2
0   Miss Wichuda  Khamwichit                      ...
1   Mr. Chatcharit  Pholla                        ...
2   Miss Parima  Muneekul                         ...
3   Miss Kankanit  Thongmanogoon                  ...
4   Mr. Chayut  Tantivuthipakon                   ...
5   Miss Chitwaree  Hompol                        ...
6   Mr. Dis  Phisitkraiyakorn                     ...
7   Miss Pransiri  Kamrod                         ...
8   Miss Pattama  Tangpoonponwiwat                ...
9   Miss Panissara  Jirajitkarun                  ...
10  Miss Pornravee  Kiatsrichart                  ...
11  Mr. Pat  Suthisripok                          ...
12  Miss Papimol  Pimpa                           ...
13  Mr. Suphakit  Suphapinyo                      ...
14  Miss Saranlak  Knokpaibool                    ...
15  Miss Sarita  Prompuntjai                      ...
16  Miss Supitcha  Sawataksornchuen               ...
17  Mr. Amornthep  Yoosabai                       ...

In [8]:
df['name_en'].str.strip().str.extract(r'(?P<title_en>.+)\s+(?P<fname_en>.+)\s+(?P<lname_en>.+)') # \w alphanumeric

   title_en     fname_en          lname_en
0      Miss     Wichuda         Khamwichit
1       Mr.  Chatcharit             Pholla
2      Miss      Parima           Muneekul
3      Miss    Kankanit      Thongmanogoon
4       Mr.      Chayut    Tantivuthipakon
5      Miss   Chitwaree             Hompol
6       Mr.         Dis   Phisitkraiyakorn
7      Miss    Pransiri             Kamrod
8      Miss     Pattama   Tangpoonponwiwat
9      Miss   Panissara       Jirajitkarun
10     Miss   Pornravee       Kiatsrichart
11      Mr.         Pat        Suthisripok
12     Miss     Papimol              Pimpa
13      Mr.    Suphakit         Suphapinyo
14     Miss    Saranlak        Knokpaibool
15     Miss      Sarita        Prompuntjai
16     Miss    Supitcha   Sawataksornchuen
17      Mr.   Amornthep           Yoosabai

In [9]:
df['name_en'].str.strip().str.extract(r'(?P<title_en>Miss|Mr\.)\s+(?P<fname_en>.+)\s+(?P<lname_en>.+)') # \w alphanumeric

   title_en     fname_en          lname_en
0      Miss     Wichuda         Khamwichit
1       Mr.  Chatcharit             Pholla
2      Miss      Parima           Muneekul
3      Miss    Kankanit      Thongmanogoon
4       Mr.      Chayut    Tantivuthipakon
5      Miss   Chitwaree             Hompol
6       Mr.         Dis   Phisitkraiyakorn
7      Miss    Pransiri             Kamrod
8      Miss     Pattama   Tangpoonponwiwat
9      Miss   Panissara       Jirajitkarun
10     Miss   Pornravee       Kiatsrichart
11      Mr.         Pat        Suthisripok
12     Miss     Papimol              Pimpa
13      Mr.    Suphakit         Suphapinyo
14     Miss    Saranlak        Knokpaibool
15     Miss      Sarita        Prompuntjai
16     Miss    Supitcha   Sawataksornchuen
17      Mr.   Amornthep           Yoosabai

In [10]:
df['name_en'].str.strip().str.extract(r'(\w+)\s+(\w+)\s+(\w+)') # \w alphanumeric

       0          1                 2
0   Miss    Wichuda        Khamwichit
1    NaN        NaN               NaN
2   Miss     Parima          Muneekul
3   Miss   Kankanit     Thongmanogoon
4    NaN        NaN               NaN
5   Miss  Chitwaree            Hompol
6    NaN        NaN               NaN
7   Miss   Pransiri            Kamrod
8   Miss    Pattama  Tangpoonponwiwat
9   Miss  Panissara      Jirajitkarun
10  Miss  Pornravee      Kiatsrichart
11   NaN        NaN               NaN
12  Miss    Papimol             Pimpa
13   NaN        NaN               NaN
14  Miss   Saranlak       Knokpaibool
15  Miss     Sarita       Prompuntjai
16  Miss   Supitcha  Sawataksornchuen
17   NaN        NaN               NaN

In [11]:
df['name_en']=df['name_en'].str.strip()
df['name_en']

0            Miss Wichuda  Khamwichit
1              Mr. Chatcharit  Pholla
2               Miss Parima  Muneekul
3        Miss Kankanit  Thongmanogoon
4         Mr. Chayut  Tantivuthipakon
5              Miss Chitwaree  Hompol
6           Mr. Dis  Phisitkraiyakorn
7               Miss Pransiri  Kamrod
8      Miss Pattama  Tangpoonponwiwat
9        Miss Panissara  Jirajitkarun
10       Miss Pornravee  Kiatsrichart
11               Mr. Pat  Suthisripok
12                Miss Papimol  Pimpa
13           Mr. Suphakit  Suphapinyo
14         Miss Saranlak  Knokpaibool
15           Miss Sarita  Prompuntjai
16    Miss Supitcha  Sawataksornchuen
17            Mr. Amornthep  Yoosabai
Name: name_en, dtype: object

In [12]:
p=df['name_en'].str.split(r'\s+', expand=False)
p # series

0            [Miss, Wichuda, Khamwichit]
1              [Mr., Chatcharit, Pholla]
2               [Miss, Parima, Muneekul]
3        [Miss, Kankanit, Thongmanogoon]
4         [Mr., Chayut, Tantivuthipakon]
5              [Miss, Chitwaree, Hompol]
6           [Mr., Dis, Phisitkraiyakorn]
7               [Miss, Pransiri, Kamrod]
8      [Miss, Pattama, Tangpoonponwiwat]
9        [Miss, Panissara, Jirajitkarun]
10       [Miss, Pornravee, Kiatsrichart]
11               [Mr., Pat, Suthisripok]
12                [Miss, Papimol, Pimpa]
13           [Mr., Suphakit, Suphapinyo]
14         [Miss, Saranlak, Knokpaibool]
15           [Miss, Sarita, Prompuntjai]
16    [Miss, Supitcha, Sawataksornchuen]
17            [Mr., Amornthep, Yoosabai]
Name: name_en, dtype: object

In [13]:
de=df['name_en'].str.strip().str.split(r'\s+', expand=True)
de

       0           1                 2
0   Miss     Wichuda        Khamwichit
1    Mr.  Chatcharit            Pholla
2   Miss      Parima          Muneekul
3   Miss    Kankanit     Thongmanogoon
4    Mr.      Chayut   Tantivuthipakon
5   Miss   Chitwaree            Hompol
6    Mr.         Dis  Phisitkraiyakorn
7   Miss    Pransiri            Kamrod
8   Miss     Pattama  Tangpoonponwiwat
9   Miss   Panissara      Jirajitkarun
10  Miss   Pornravee      Kiatsrichart
11   Mr.         Pat       Suthisripok
12  Miss     Papimol             Pimpa
13   Mr.    Suphakit        Suphapinyo
14  Miss    Saranlak       Knokpaibool
15  Miss      Sarita       Prompuntjai
16  Miss    Supitcha  Sawataksornchuen
17   Mr.   Amornthep          Yoosabai

In [14]:
de.columns=['title_en', 'fname_en', 'lname_en']
de

   title_en    fname_en          lname_en
0      Miss     Wichuda        Khamwichit
1       Mr.  Chatcharit            Pholla
2      Miss      Parima          Muneekul
3      Miss    Kankanit     Thongmanogoon
4       Mr.      Chayut   Tantivuthipakon
5      Miss   Chitwaree            Hompol
6       Mr.         Dis  Phisitkraiyakorn
7      Miss    Pransiri            Kamrod
8      Miss     Pattama  Tangpoonponwiwat
9      Miss   Panissara      Jirajitkarun
10     Miss   Pornravee      Kiatsrichart
11      Mr.         Pat       Suthisripok
12     Miss     Papimol             Pimpa
13      Mr.    Suphakit        Suphapinyo
14     Miss    Saranlak       Knokpaibool
15     Miss      Sarita       Prompuntjai
16     Miss    Supitcha  Sawataksornchuen
17      Mr.   Amornthep          Yoosabai

In [15]:
df.columns

Index(['id', 'name_th', 'name_en', 'gender'], dtype='object')

In [16]:
pd.concat([df[['id', 'gender']], dt, de], axis=1)

,id,gender,title,fname,lname,title_en,fname_en,lname_en
0,5942910226,ญ,น.ส.,วิชุฎา,คำวิชิต,Miss,Wichuda,Khamwichit
1,6042739826,ช,นาย,ชัชฤทธิ์,พลหลา,Mr.,Chatcharit,Pholla
2,6042841026,ญ,น.ส.,พริมา,มุณีกุล,Miss,Parima,Muneekul
3,6142719326,ญ,น.ส.,กันต์กนิษฐ์,ทองมโนกูร,Miss,Kankanit,Thongmanogoon
4,6142746226,ช,นาย,ชยุต,ตันติวุฒิปกรณ์,Mr.,Chayut,Tantivuthipakon
5,6142752026,ญ,น.ส.,ชิตวรี,หอมผล,Miss,Chitwaree,Hompol
6,6142780526,ช,นาย,ดิษย์,พิสิษฐไกรยกร,Mr.,Dis,Phisitkraiyakorn
7,6142823926,ญ,น.ส.,ปราณศิริ,คำรอด,Miss,Pransiri,Kamrod
8,6142829726,ญ,น.ส.,ปัทมา,ตั้งพูนผลวิวัฒน์,Miss,Pattama,Tangpoonponwiwat
9,6142830226,ญ,น.ส.,ปาณิสรา,จิรจิตการุณ,Miss,Panissara,Jirajitkarun
10,6142841126,ญ,น.ส.,พรรวี,เกียรติศรีชาติ,Miss,Pornravee,Kiatsrichart
11,6142846326,ช,นาย,พัทธ์,สุทธิศรีปก,Mr.,Pat,Suthisripok
12,6142868126,ญ,น.ส.,ภาพิมล,พิมพา,Miss,Papimol,Pimpa
13,6142896726,ช,นาย,ศุภกฤต,ศุภภิญโญ,Mr.,Suphakit,Suphapinyo
14,6142909226,ญ,น.ส.,สราญลักษณ์,กนกไพบูลย์,Miss,Saranlak,Knokpaibool
15,6142910826,ญ,น.ส.,สริตา,พรมพันธ์ใจ,Miss,Sarita,Prompuntjai
16,6142923026,ญ,น.ส.,สุพิชชา,สวัสดิ์อักษรชื่น,Miss,Supitcha,Sawataksornchuen
17,6142935526,ช,นาย,อมรเทพ,อยู่สบาย,Mr.,Amornthep,Yoosabai